@charset "utf-8";
/* CSS Document */

div.we-container {
	position: relative;
	width: 700px;
	height: 500px;
	border: 1px solid #999;
	border-radius: 15px 15px 5px 5px;
    -moz-border-radius: 15px 15px 5px 5px;
	box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;}
div.we-menu {
	width:100%;
	height:55px;
	margin:0px;
	padding:0px;
	position:relative;
	background-color: #FFF; /*f5f5f5 is better*/
	border-radius: 15px 15px 0px 0px;}
div.we-menu-sep {
	width:1px;
	height:45px;
	background-color:#CCC;}
div.we-menu-item {
	margin-top:12px;
	margin-left:10px;
	height:30px;
	line-height:30px;
	position:relative;
	float:left;
	text-align:center;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif}
.we-menu-item-border {
	border:1px solid #999; /*f5f5f5*/
	border-radius: 4px;
    -moz-border-radius: 4px;}
.we-menu-item-toggle {
	background-color: red;
}		
.we-menu-icon {
	background:url(../images/img-web-editor.gif) no-repeat;
	position:absolute;
}
.we-menu-cat {
	width:66px;}
.we-menu-font {
	width:66px;}
.we-menu-size {
	width:45px;}
.icon-container-narrow {
	width: 17px;
}
.icon-container-wide {
	width: 25px;
}
.b {
	width:17px;}
.b-icon {
	width:11px;
	height:16px;
	background-position:-17px -5px;
	left:10%;
	top:25%;}
.i {
	width:17px;}
.i-icon {
	width:10px;
	height:16px;
	background-position:-32px -5px;
	left:10%;
	top:25%;}
.u {
	width:17px;}
.u-icon {
	width:14px;
	height:16px;
	background-position:-46px -5px;
	left:5%;
	top:25%;}
.ol {
	width:25px;}
.ol-icon {
	width:18px;
	height:19px;
	background-position:-102px -5px;
	left:5%;
	top:20%
	}
.ul {
	width:25px;}
.ul-icon {
	width:19px;
	height:19px;
	background-position:-127px -5px;
	left:5%;
	top:21%
	}
.a-left {
	width:25px;}
.a-left-icon {
	width:20px;
	height:18px;
	background-position:-159px -5px;
	left:5%;
	top:21%;}
.a-center {
	width:25px;}
.a-center-icon {
	width:20px;
	height:18px;
	background-position:-184px -5px;
	left:5%;
	top:21%;}
.a-right {
	width:25px;}
.a-right-icon {
	width:20px;
	height:18px;
	background-position:-208px -5px;
	left:5%;
	top:21%;
	}
.i-link {
	width:25px;}
.i-link-icon {
	width:19px;
	height:18px;
	background-position:-236px -5px;
	left:5%;
	top:20%;
	}
.i-img {
	width:16px;}
.i-img-icon {
	width:18px;
	height:18px;
	background-position:-265px -5px;
	left:5%;
	top:20%;
	}
.font-color {
	width:27px;
	color: #f60;
	font-weight:bold;}
.fc-icon {
	width:13px;
	height:11px;
	background-position:-64px -5px;
	top:30%;
	left:5%;}
.font-bg-color {
	width:27px;
	height:28px;
	background-color:#f60;
	border:1px solid #333;
	color: #FFFFFF;
	font-weight:bold;}
.font-bg-icon {
	width:13px;
	height:11px;
	background-position:-82px -5px;
	top:30%;
	left:5%;
}
.bg-title {
	width:14px;
	height:12px;
	background-position:-10px -1px;
	top:30%;
	left:1%;}

.we-menu-title {
	position:absolute; 
	left:10%;}
.arrow {
	width:8px;
	height:5px;
	background-position:-5px -5px;
	top:30%;
	right:5%;
}
.more {
	width:25px;}
div.we-main-sep {
	width:100%;
	height:1px;
	box-shadow: 0 0 1px #333;
	-moz-box-shadow: 0 0 1px #333;
	background-color: #999;}
div.we-edit-area {
	margin-bottom:2px;
	position:absolute;
	bottom: 5px;
	padding:10px;
	height:80%;
	width:96%;
	border:0px solid #03C;}
	
.curvarrow {
	width:20px;
	height:3px;
	border:1px solid #333;
	border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;}
.menu-clue {
	position:absolute;
	background-color:#333;
	color:#FFF;
	height:20px;
	border:1px solid #333;
	border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	}
.menu-clue-arrow-up {
	position:absolute;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;}
	
.menu-item-selected-border {
	background-color: #ccc;
	border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}
.menu-item-selected-shadow {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}
